# Dataset Exploration

In [19]:
import pandas as pd

In [22]:
df = pd.read_csv("../data/interim/merged_data.csv", index_col=[0])

In [23]:
df.head()

          Artist                                              Lyric
0  ivete-sangalo  Tudo o que eu quero nessa vida,\nToda vida, é\...
1  ivete-sangalo  Meu coração\nSem direção\nVoando só por voar\n...
2  ivete-sangalo  É de babaixá!\nÉ de balacubaca!\nÉ de babaixá!...
3  ivete-sangalo  Quando a chuva passar\n\nPra quê falar\nSe voc...
4  ivete-sangalo  A minha sorte grande foi você cair do céu\nMin...

In [24]:
df.tail()

            Artist                                              Lyric
379898  paul-simon  Hey, Vietnam, Vietnam, Vietnam, Vietnam\nVietn...
379899      prince  \n\nAll of this and more is for you\nWith love...
379900     r-kelly  I hear you callin', "Here I come baby"\nTo sav...
379901   radiohead  Come on, come on\nYou think you drive me crazy...
379902     rihanna  Ghost in the mirror\nI knew your face once, bu...